abnf==2.2.0
aioboto3==15.5.0
aiobotocore==2.25.1
aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aioitertools==0.13.0
aiosignal==1.4.0
annotated-types==0.7.0
anthropic==0.75.0
anyio==4.12.0
attrs==25.4.0
backoff==2.2.1
beautifulsoup4==4.14.3
black==25.12.0
boto3==1.40.61
botocore==1.40.61
cbor2==5.7.1
certifi==2025.11.12
cffi==2.0.0
cfgv==3.5.0
chardet==5.2.0
charset-normalizer==3.4.4
cint==1.0.0
click==8.2.1
cryptography==46.0.3
datasets==4.4.1
debugpy==1.8.18
dill==0.4.0
diskcache==5.6.3
distlib==0.4.0
distro==1.9.0
docker==7.1.0
docstring_parser==0.17.0
fastcore==1.8.17
fickling==0.1.5
filelock==3.20.0
frozendict==2.4.7
frozenlist==1.8.0
fsspec==2025.9.0
ghapi==1.0.8
gitdb==4.0.12
GitPython==3.1.45
gql==4.0.0
graphql-core==3.2.7
graphviz==0.21
grpclib==0.4.8
h11==0.16.0
h2==4.3.0
hf-xet==1.2.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.2.2
hyperframe==6.1.0
identify==2.6.15
idna==3.11
ijson==3.4.0.post0
immutabledict==4.2.2
iniconfig==2.3.0
inspect_ai==0.3.153
inspect_evals==0.3.103
inspect_wandb==0.2.0
instruction_following_eval @ git+https://github.com/josejg/instruction_following_eval.git@0c495b2f95155e8b10acb919ae283bfb4d5be6e2
intervaltree==3.1.0
Jinja2==3.1.6
jiter==0.12.0
jmespath==1.0.1
joblib==1.5.2
jsonlines==4.0.0
jsonpatch==1.33
jsonpath-ng==1.7.0
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kaitaistruct==0.11
langdetect==1.0.9
linkify-it-py==2.0.3
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdit-py-plugins==0.5.0
mdurl==0.1.2
mmh3==5.2.0
modal==1.2.4
multidict==6.7.0
multiprocess==0.70.18
mypy_extensions==1.1.0
nest-asyncio2==1.7.1
networkx==3.6.1
nltk==3.9.2
nodeenv==1.9.1
numpy==2.3.5
openai==2.9.0
packaging==25.0
pandas==2.3.3
pathlib_abc==0.5.2
pathspec==0.12.1
pdfminer.six==20250506
pillow==12.0.0
platformdirs==4.5.1
pluggy==1.6.0
ply==3.11
polyfile-weave==0.5.7
pre_commit==4.5.0
propcache==0.4.1
protobuf==6.33.2
psutil==7.1.3
pyarrow==22.0.0
pycparser==2.23
pydantic==2.12.5
pydantic-settings==2.12.0
pydantic_core==2.41.5
Pygments==2.19.2
pytest==9.0.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytokens==0.3.0
pytz==2025.2
PyYAML==6.0.3
referencing==0.37.0
regex==2025.11.3
requests==2.32.5
rich==14.2.0
rpds-py==0.30.0
ruff==0.14.8
s3fs==2025.9.0
s3transfer==0.14.0
semver==3.0.4
sentry-sdk==2.47.0
shellingham==1.5.4
shortuuid==1.0.13
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8
stdlib-list==0.11.1
swebench==4.1.0
synchronicity==0.10.5
tenacity==9.1.2
textual==6.8.0
tiktoken==0.12.0
toml==0.10.2
tqdm==4.67.1
typer==0.20.0
typer-slim==0.20.0
types-certifi==2021.10.8.3
types-toml==0.10.8.20240310
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
uc-micro-py==1.0.3
unidiff==0.7.5
universal_pathlib==0.3.7
urllib3==2.6.1
virtualenv==20.35.4
wandb==0.23.1
watchfiles==1.1.1
weave==0.52.22
wrapt==1.17.3
xxhash==3.6.0
yarl==1.22.0
zipp==3.23.0
